@import url("https://fonts.google.com/specimen/Ubuntu?query=ubuntu#standard-styles");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slider {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slider > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slider h1 {
  font-size: 70px;
  margin-top: -30px;
  margin-bottom: 10px;
}

.right-slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}
.right-slider > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}
.slider-container .action-button button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}
.slider-container .action-button .arrow-down {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: transform 0.5s ease-in-out;
}

.slider-container .action-button .arrow-up {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 0.5s ease-in-out;
}

.left-slide-1 {
  background-color: #348c31;
}
.left-slide-2 {
  background-color: darkkhaki;
}
.left-slide-3 {
  background-color: #f2f27a;
}
.left-slide-4 {
  background-color: #f6b9ad;
}

.right-slide-1 {
  background-image: url("https://images.unsplash.com/photo-1634323052915-cc7149d551c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
}
.right-slide-2 {
  background-image: url("https://images.unsplash.com/photo-1647705331414-a6318a8bbcca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
}
.right-slide-3 {
  background-image: url("https://images.unsplash.com/photo-1617906121854-0f6dc6429f52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}
.right-slide-4 {
  background-image: url("https://images.unsplash.com/photo-1461301214746-1e109215d6d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}
